extends layout

block content
	h3.
		Students
	ul
		each student, i in studentlist
			li#student_list_item
				a(href="/student/" + student._id) #{student.student} lives at #{student.street} #{student.city}, #{student.state}
				form#delete_student(name="deletestudent", method="post", action="/deletestudent")
					input#student_id(type="hidden", name="id", value=student._id)
					button#delete_student_submit(type="submit") delete	